<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Clássico Design</title>
    <meta name="description" content="Site focused on web design and digital marketing.">
    <meta name="author" content="Athos Silveira, Web Design">
    <meta name="keywords" content="design, marketing, grafic, AI, ADS, Web3">
    <meta name="robots" content="index,follow">

    <link rel="stylesheet" href="global.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Mukta:wght@300;400;600&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <div class="app">

        <header>
            <div class="logo">
                <div class="logo-text"><span class="input">Clássico Design</span></div>
             </div>
            <nav>
                <div class="togglebtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul class="navlinks">
                    <li><a href="index.html" class="navigation-link">Home</a></li>
                    <li><a href="sites.html" class="navigation-link">Sites</a></li>
                    <li><a href="https://opensea.io/collection/only-humanoid" class="navigation-link gravadora" target="_blank">NFT Collection</a></li>
                    <li><a href="contact.html" class="navigation-link">Contact</a></li>
                </ul>
            </nav>
        </header>
    
      <main>
         <div class="container">

            <section class="description">
                <h1
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-easing="ease-in-out"
                >Social Media</h1>
            </section>

            <section class="description">
                <p
                 data-aos="fade-up"
                 data-aos-delay="300"
                 data-aos-duration="800"
                 data-aos-easing="ease-in-out"
                 >
                 Leafing through our products like that newspaper you read on your porch with a cup of coffee in the morning before starting your routine,
                 thinking about what to do with the excellent idea you have been thinking about to boost your business. 
                 Click below and let's work on this together.   </p>
            </section>
        </div>
      </main>

      <section class="slider">
        <div class="item">
            <img class="img-collections" src="./assets/collections/6.png" alt="">
        </div>
        <div class="item">
            <img class="img-collections" src="./assets/collections/7.png" alt="">
         </div>
        <div class="item">
            <img class="img-collections" src="./assets/collections/2.png" alt="">
        </div>
        <div class="item">
            <img class="img-collections" src="./assets/collections/3.png" alt=""> 
        </div>
        <div class="item">
            <img class="img-collections" src="./assets/collections/1.png" alt="">
        </div>
        <div class="item">
            <img class="img-collections" src="./assets/collections/4.png" alt="">
        </div>
        <div class="item">
            <img class="img-collections" src="./assets/collections/5.png" alt="">
         </div>
         <div class="item">
            <img class="img-collections" src="./assets/collections/8.png" alt="">
         </div>
         <div class="item">
            <img class="img-collections" src="./assets/collections/9.png" alt="">
         </div>
         <div class="item">
            <img class="img-collections" src="./assets/collections/10.png" alt="">
         </div>
         <div class="item">
            <img class="img-collections" src="./assets/collections/11.png" alt="">
         </div>
         <div class="item">
            <img class="img-collections" src="./assets/collections/12.png" alt="">
         </div>
         <div class="item">
            <img class="img-collections" src="./assets/collections/13.png" alt="">
         </div>
         <div class="item">
            <img class="img-collections" src="./assets/collections/14.png" alt="">
         </div>
         <div class="item">
            <img class="img-collections" src="./assets/collections/15.png" alt="">
         </div>
         <div class="item">
            <img class="img-collections" src="./assets/collections/16.png" alt="">
         </div>

         <button id="prev">&#8656;</button>
         <button id="next">&#8658;</button>
      </section>

    <section class="btn-gallery">
        <div class="description">
            <div>
              <a class="button" href="#">Contact</a>
            </div>
    </section>

    <footer>
        <div class="social">
          <a href="https://t.me/ClassicoDesign_bot" target="_blank"><i class="fa-brands fa-telegram"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-figma"></i></a>
          <a href="https://wa.me/351924376890?text=Hello!+I+have+a+project+to+present+to+you+:D" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="contact.html"><i class="fa-solid fa-envelope"></i></a>
         </div>
      </footer>
      

    </div>

    <!--typed js typing text effect-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
      
    <script src="./js/header.js"></script>
    <script src="./js/collections.js"></script>
    
</body>
</html>