<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Clássico Design</title>
    <meta name="description" content="Site focused on web design and digital marketing.">
    <meta name="author" content="Athos Silveira, Web Design">
    <meta name="keywords" content="design, marketing, grafic, AI, ADS, Web3">
    <meta name="robots" content="index,follow">

    <link rel="stylesheet" href="global.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Mukta:wght@300;400;600&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Honk&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>

<body>
    <div class="app">

        <header>
          <div class="logo">
            <div class="logo-text"><span class="input">Clássico Design</span></div>
         </div>
            <nav>
                <div class="togglebtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul class="navlinks">
                    <li><a href="index.html" class="navigation-link">Home</a></li>
                    <li><a href="collection.html" class="navigation-link">Products</a></li>
                    <li><a href="sites.html" class="navigation-link">Sites</a></li>
                    <li><a href="https://opensea.io/collection/only-humanoid" class="navigation-link gravadora" target="_blank">NFT Collection</a></li>
                </ul>
            </nav>
        </header>
    
      <main>
         <div class="container">

            <section class="description">
             
              <div class="heading">
                <img src="./assets/gramofone-3.png" alt="Gramofone" class="img-contact">
                <section class="wrapper">
                  <div class="offset">
                    <h2 class="text animate-before">Grafic Design</h2>
                  </div>
                  <div class="offset">
                    <h2 class="text animate-before">Digital Marketing</h2>
                  </div>
                  <div class="offset">
                    <h2 class="text animate-before">Artificial Intelligence</h2>
                  </div>
                  <div class="offset">
                    <h2 class="text animate-before">Telegram Bots</h2>
                  </div>
                  <div class="offset">
                      <h2 class="text animate-before">Google Tools</h2>
                    </div>
                    <div class="offset">
                      <h2 class="text animate-before">Web3</h2>
                    </div>
  
                </section>
                <div class="grid-container">
                  <div class="grid"></div>
                  <div class="grid"></div>
                  <div class="grid"></div>
                  <div class="grid"></div>
                  <div class="grid"></div>
                  <div class="grid"></div>
                </div>
              </div>

                <h3 class="title-contact"> Lets Talk ! </h3>

                <p class="paragrafo-contact">Send us a message about projects, questions, purchases, etc...</p>

                <div class="icon-contact">
                  <a class="i-contact" 
                     href="https://t.me/ClassicoDesign_bot" 
                     target="_blank"
                  ><i class="fa-brands fa-telegram"></i></a>
                  <a  class="i-contact"
                  href="https://wa.me/351924376890?text=Hello!+I+have+a+project+to+present+to+you+:D"
                    target="_blank"
                  ><i class="fa-brands fa-whatsapp"></i>
                </a>
                </div>
                
            </section>

            <div class="line"></div>

            <section class="description">

              <h3 class="title-form"> Send us a email !</h3>
             
              <form action="https://formsubmit.co/athos.chaves94@gmail.com" id="form" method="POST">
                 
                <input type="hidden" name="_autoresponse" value="Recebemos a sua mensagem, obrigado(a) pelo contato e logo responderemos!">
                <input type="hidden" name="_cc" value="athos.chaves94@gmail.com"/>  

                <div class="input-field">
                  <label for="name">Name:</label>
                  <input type="text" name="name" id="name">
                  <div class="underline"></div>
                </div>
              
                <div class="input-field">
                  <label for="email">Email:</label>
                  <input type="text" name="email" id="email">
                  <div class="underline"></div>
                </div>
              
                <div class="input-field">
                  <label for="message"></label>
                  <textarea placeholder="write your menssage here..." name="message" id="message" cols="5" rows="5"></textarea>
                </div>

                <div>
                 <button class="button btn-form" href="#">SEND</button>
               </div>

              </form>

            </section>
           
         </div>
      </main>

    </div>

    <script src="./js/header.js"></script>
    <script src="./js/form.js"></script>
    <script src="./js/delay.js"></script>
    <script src="../controllers/mail.js"></script>

</body>
</html>