<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Clássico Design</title>
    <meta name="description" content="Site focused on web design and digital marketing.">
    <meta name="author" content="Athos Silveira, Web Design">
    <meta name="keywords" content="design, marketing, grafic, AI, ADS, Web3">
    <meta name="robots" content="index,follow">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Mukta:wght@300;400;600&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Honk&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
</head>

<body>
    <div class="app">

        <header>

               <div class="logo-text"><span class="input">Clássico Design</span></div>
            
            <nav>
                <div class="togglebtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul class="navlinks">
                    <li><a href="collection.html" class="navigation-link">Products</a></li>
                    <li><a href="sites.html" class="navigation-link">Sites</a></li>
                    <li><a href="https://opensea.io/collection/only-humanoid" class="navigation-link gravadora" target="_blank">NFT Collection</a></li>
                    <li><a href="contact.html" class="navigation-link">Contact</a></li>
                    <li><a href="WEB DESIGN.pdf" class="navigation-link" target="_blank">Documentation</a></li>
                </ul>
            </nav>

        </header>
    
      <main>
         <div class="container">

            <section class="description">
                <h1
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-easing="ease-in-out"
                >Marketing</h1>
                <p
                 class="paragrafo"
                 data-aos="fade-up"
                 data-aos-delay="300"
                 data-aos-duration="800"
                 data-aos-easing="ease-in-out"
                 >
                 A name that combines classics with modernity. Guarantee of quality in our services and excellence in aspects such as:
                 Communication from beginning to end of each project, connecting us not only as customers but as partners. 
                 We carry out graphic work so that your business is boosted on social networks, shaping your creativity.
                </p>
                <div>
                  <a class="button" href="collection.html">Digital Products</a>
                </div>
            </section>
             
           <div class="heading">
            <section class="wrapper">
                <div class="offset">
                  <h2 class="text animate-before">Grafic Design</h2>
                </div>
                <div class="offset">
                  <h2 class="text animate-before">Digital Marketing</h2>
                </div>
                <div class="offset">
                  <h2 class="text animate-before">Artificial Intelligence</h2>
                </div>
                <div class="offset">
                  <h2 class="text animate-before">Telegram Bots</h2>
                </div>
                <div class="offset">
                    <h2 class="text animate-before">Google Tools</h2>
                  </div>
                  <div class="offset">
                    <h2 class="text animate-before">Web3</h2>
                  </div>

              </section>
              <div class="grid-container">
                <div class="grid"></div>
                <div class="grid"></div>
                <div class="grid"></div>
                <div class="grid"></div>
                <div class="grid"></div>
                <div class="grid"></div>
              </div>
              <img src="./assets/gramofone.png" alt="Gramofone">
            </div>
             
            <section class="description">
                <h2
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-easing="ease-in-out"
                >Design</h2>
            <p
                 class="paragrafo"
                 data-aos="fade-up"
                 data-aos-delay="300"
                 data-aos-duration="800"
                 data-aos-easing="ease-in-out"
                 >
                 Creating your website with your colors, ideals and built-in personality, 
                 focusing on Google search channels, using tools like Google Pay, ADS and MAPS to make your business grow and people find you easily,
                 websites complete with documentation and login systems. 
                 Take one more step towards the future of your company and let us be part of it.
            </p>
            <div>
                  <a class="button" href="sites.html">Sites for Businnes</a>
                </div>
            </section>
           
         </div>
      </main>

      <footer>
        <div class="social">
          <a href="https://t.me/ClassicoDesign_bot" target="_blank"><i class="fa-brands fa-telegram"></i></a>
          <a href="https://github.com/chavesathos/ClassicoDesign" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-figma"></i></a>
          <a href="https://wa.me/351924376890?text=Hello!+I+have+a+project+to+present+to+you+:D" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="contact.html"><i class="fa-solid fa-envelope"></i></a>
         </div>
      </footer>
      
    </div>

    <!--typed js typing text effect-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    
    <script src="./js/header.js"></script>
    <script src="./js/delay.js"></script>
    
</body>
</html>