<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Clássico Design</title>
    <meta name="description" content="Site focused on web design and digital marketing.">
    <meta name="author" content="Athos Silveira, Web Design">
    <meta name="keywords" content="design, marketing, grafic, AI, ADS, Web3">
    <meta name="robots" content="index,follow">


    <link rel="stylesheet" href="global.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Mukta:wght@300;400;600&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <div class="app">

        <header>
            <div class="logo">
                <div class="logo-text"><span class="input">Clássico Design</span></div>
             </div>
            <nav>
                <div class="togglebtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul class="navlinks">
                    <li><a href="index.html" class="navigation-link">Home</a></li>
                    <li><a href="collection.html" class="navigation-link">Products</a></li>
                    <li><a href="https://opensea.io/collection/only-humanoid" class="navigation-link gravadora" target="_blank">NFT Collection</a></li>
                    <li><a href="contact.html" class="navigation-link">Contact</a></li>
                </ul>
            </nav>
        </header>
    
      <main>

        <div class="title-container">
            <p
            class="title"
            data-aos="fade-up"
            data-aos-delay="300"
            data-aos-duration="800"
            data-aos-easing="ease-in-out"
            >Sites for Businnes
            </p>
        </div>

         <div class="container box-container">

            <section class="description">
                <h2
                class="fundations"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-easing="ease-in-out"
                >Orphanage
                </h2>
                <p
                 data-aos="fade-up"
                 data-aos-delay="300"
                 data-aos-duration="800"
                 data-aos-easing="ease-in-out"
                 >
                 <span>
                    You can make a child smile!! We created the Urso Azul website, 
                    which connects you with several orphanages spread across the world,
                     choose one of the available orphanages and make a donation.
                 </span>

                 <img src="./sites/templates/modelo-site.png" alt="Template-Site" class="template">
                 <div>
                     <a class="button" href="./sites/Orphanage/index.html">Visit us</a>
                   </div>
            </section>


           
         </div>

         <div class="container box-container">

            <section class="description">
                <h2
                class="fundations"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-easing="ease-in-out"
                >Video Game
                </h2>
                <p
                 data-aos="fade-up"
                 data-aos-delay="300"
                 data-aos-duration="800"
                 data-aos-easing="ease-in-out"
                 >
                 <span>
                    Score more points than your friend in this Super Mario game,
                    even during development, you can score points that were saved in Local Storage.
                 </span>

                 <img src="./sites/templates/modelo-site.png" alt="fundadores" class="template">
                 <div>
                     <a class="button" href="./sites/Super Mario/index.html">Visit us</a>
                   </div>
            </section>


           
         </div>

         <div class="container box-container">

            <section class="description">
                <h2
                class="fundations"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-easing="ease-in-out"
                >Travel Agent
                </h2>
                <p
                 data-aos="fade-up"
                 data-aos-delay="300"
                 data-aos-duration="800"
                 data-aos-easing="ease-in-out"
                 >
                 <span>
                    Explore a vast world of landscapes and moments that remain memorable in your life. 
                    Make the most of your time by choosing one of our available trips and make it worth your while.
                 </span>

                 <img src="./sites/templates/modelo-site.png" alt="fundadores" class="template">
                 <div>
                     <a class="button" href="./sites/3D-Parallax-Website/index.html">Visit us</a>
                   </div>
            </section>


           
         </div>

         <div class="container box-container">

            <section class="description">
                <h2
                class="fundations"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-easing="ease-in-out"
                >Animal Zoo
                </h2>
                <p
                 data-aos="fade-up"
                 data-aos-delay="300"
                 data-aos-duration="800"
                 data-aos-easing="ease-in-out"
                 >
                 <span>
                    The wild world in one place!! Bring your whole family to enjoy more than 100 different species of animals,
                    and even more!! amusement parks, food court and lots of fun!!
                 </span>

                 <img src="./sites/templates/modelo-site.png" alt="fundadores" class="template">
                 <div>
                     <a class="button" href="./sites/Slide-animals/index.html">Visit us</a>
                   </div>
            </section>

         </div>

         <div class="container box-container">

            <section class="description">
                <h2
                class="fundations"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-easing="ease-in-out"
                >Coffe Shop
                </h2>
                <p
                 data-aos="fade-up"
                 data-aos-delay="300"
                 data-aos-duration="800"
                 data-aos-easing="ease-in-out"
                 >
                 <span>
                    Take a break from your routine by tasting our delicious coffees, we have several flavors and accompaniments, 
                    you can also choose one of our comfortable environments to come to work and feel lighter.
                 </span>

                 <img src="./sites/templates/modelo-site.png" alt="fundadores" class="template">
                 <div>
                     <a class="button" href="./sites/CoffeShop/index.html">Visit us</a>
                   </div>
            </section>


           
         </div>

      </main>

      <footer>
        <div class="social">
            <a href="https://t.me/ClassicoDesign_bot" target="_blank"><i class="fa-brands fa-telegram"></i></a>
            <a href="https://github.com/chavesathos/ClassicoDesign" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-figma"></i></a>
            <a href="https://wa.me/351924376890?text=Hello!+I+have+a+project+to+present+to+you+:D" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="contact.html"><i class="fa-solid fa-envelope"></i></a>
         </div>
      </footer>
      
    </div>

    <!--typed js typing text effect-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    
    <script src="./js/header.js"></script>
    
</body>
</html>